@mixin border($rad, $shadow, $border) {
	-webkit-border-radius: $rad;
	-moz-border-radius: $rad;
	border-radius: $rad;

	-webkit-box-shadow: 0 0 15px #555;
	-moz-box-shadow: 0 0 15px #555;
	box-shadow: 0 0 15px #555;

	border: 1px solid $brand-primary;
}
