/* Error: Missing argument $rad.
 *   ,--> SASS/modules/_pro-img.sass
 * 2 |   +border()
 *   |   ^^^^^^^^^ invocation
 *   '
 *   ,--> SASS/_mixins.sass
 * 1 | =border($rad, $shadow, $border)
 *   |  ============================== declaration
 *   '
 *   SASS/modules/_pro-img.sass 2:3      border()
 *   SASS/modules/_pro-img.sass 2:3      @import
 *   SASS/modules/_modules-dir.sass 3:9  @import
 *   SASS/app.sass 5:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $rad.\a   \250c \2500 \2500 > SASS/modules/_pro-img.sass\a 2 \2502    +border()\a   \2502    ^^^^^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > SASS/_mixins.sass\a 1 \2502  =border($rad, $shadow, $border)\a   \2502   \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   SASS/modules/_pro-img.sass 2:3      border()\a   SASS/modules/_pro-img.sass 2:3      @import\a   SASS/modules/_modules-dir.sass 3:9  @import\a   SASS/app.sass 5:9                   root stylesheet";
}
