/*######################## Color Palette ########################*/
:root {
  --color-topnav-background: hsla(140, 65%, 35%, 1);
  --color-topnav-text: hsla(140, 50%, 15%, 1);
  --color-topnav-background-hover: hsla(140, 25%, 25%, 1);
  --color-topnav-text-hover: var(--color-topnav-background);
  --color-hero-background-top: var(--color-topnav-background);
  --color-hero-background-bottom: transparent;

}

/*######################## Defaults ########################*/
nav, header, footer {
  display: block;
}

body {
  line-height: 1;
  margin: 0;
}

.hero {
  width: 100%;
  margin: auto;
  padding-top: 4%;
  padding-bottom: 4%;
  background: var(--color-hero-background-top); /*Backup color if gradient fails*/
  background: -webkit-linear-gradient(var(--color-hero-background-top), var(--color-hero-background-bottom));/*For Chrome and Safari*/
  background: -o-linear-gradient(var(--color-hero-background-top), var(--color-hero-background-bottom));/*For Opera*/
  background: -moz-linear-gradient(var(--color-hero-background-top), var(--color-hero-background-bottom));/*For Firefox Mozilla*/
  background: linear-gradient(var(--color-hero-background-top), var(--color-hero-background-bottom)); /*Weird browsers*/
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

/*Divide 100% in 12: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] { /*every single class that starts with "col-"*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

h1.large {
  color: black;
  font-size: 2rem;
  margin: 0;
  line-height: 2rem;
  max-width: 16rem;
  width: fit-content;
}

form h2 {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0;
}

input[class="inputBox"] {
  font-size: 1rem;
  width: 15rem;
}

.iframe-container { /*This container will adapt its size to the screen*/
  position: relative;
  overflow: hidden;
  width: 50%; /*percentage of width of parent container*/
  padding-top: 50%; /*percentage of width of parent container*/
}

.iframe-container iframe { /*iframes are unable to adapt size, that's why we put it inside a container*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

/*######################## Nav bar ########################*/
nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: var(--color-topnav-background);
  overflow: hidden; /*When the browser is collapsing (to fit a mobile phone resolution, for example), any element that falls off the page will be hidden, instead of appearing a horizontal scroll*/
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: left; /*Instead of placing list items vertically, place them side to side*/

}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  color: var(--color-topnav-text);
  display: block;
  text-decoration: none;
  min-height: 1rem;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

ul.topnav li a:hover { /*what happens when the mouse cursor hover these elements*/
  background-color: var(--color-topnav-background-hover);
  color: var(--color-topnav-text-hover);
}

ul.topnav li.dropdownIcon {
  float: right;
  display: none; /*Start with the menu icon hidden*/
}

/*######################## Mobile ########################*/
@media (max-width: 600px){ /*Run this CSS only when the Media query says the screen has a width less than 600px*/
  ul.topnav li:not(:nth-child(1)) { /*Grab every li except for the first child (Home)*/
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: block;
  }
  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  ul.topnav.responsive {
    position: relative;
  }
  ul.topnav.responsive li {
    display: inline;
    float: none;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  .col-6 { /*Make video brake line when in mobile mode*/
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
