body {
  /*text-align: center;*/
}

.image1Class {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  border: 5px solid grey;
  padding: 2px;
  max-width: 50%; /*percentage of the container*/
  height: auto;
  padding: 5px;
  opacity: 0.5;
  display: block;
  margin: auto;
}


.image2Class {
  border-radius: 10%;
  width: 300px;
  height: 300px;
  border: 3px solid black;
  max-width: 50%; /*percentage of the container*/
  height: auto;
  opacity: 0.75;
  margin: 15%;
}

button {
  border-radius: 12px;
  font-size: 25px;
}

[name="marginButton"] {
  margin: 5%;
}

[name="paddedButton"]{
  padding: 20px;
}

.classWithButtonsInside {
  text-align: center;
  margin: 10%;
}
